{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>{% block title %} {% endblock title %}</title>
    {% block link %} {% endblock link %}
  </head>

  {% block navlist %}
  <body>
<div class="site-main">
    <nav class="nav-box">
      <ul>
        <li>
          <a href="#" class="logo">
            <img src="{% static 'images/logo.jpg' %}" alt="logo" />
            <span class="nav-item">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-house"></i>
            <span class="nav-item">Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-address-card"></i>
            <span class="nav-item">User Registration</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-chalkboard-user"></i>
            <span class="nav-item">Add Teacher</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-book-open"></i>
            <span class="nav-item">Add Course</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-user-plus"></i>
            <span class="nav-item">Add Student</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-plus"></i>
            <span class="nav-item">Add Student Class</span>
          </a>
        </li>
        <li>
          <a href="#" class="logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="nav-item">Logout</span>
          </a>
        </li>
      </ul>
    </nav>
    {% endblock navlist %} 
    </div>
    <div class="main-container">
    {% block content %}
    <!-- Main content will be injected here from extending templates -->
    {% endblock content %}
    </div>
  </body>
</html>
